<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @task.device_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @task.start_time %>
</p>

<p>
  <strong>Stop time:</strong>
  <%= @task.stop_time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @task.comment %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
